.container-fluid {
    border-radius: 10px;
    

}
.rows{
    background-color: #e6f0ff;
}
.modal-header,.modal-content{
    border:0px;
}
.media-body{
    padding: 10px;
    font-size: 10px;
}
.media-body > p{
    font-size: 14px;
}
.navbar-header{
    height: auto;

}
.navbar{
    box-shadow: 0px 0px 3px 0 hsl(0,0%,55%);
    margin:0px 0px 20px 0px;
	 background-color: hsl(0, 0%, 25%);
	 
}
.navbar a {
    color: hsl(0, 0%, 95%);
	 
}
.nav a:hover {
    color: hsl(0, 0%, 25%);
	 
}
i{
    cursor: pointer;
}
.col-md-10{
    padding: 0px;
    height: 500px;
    border-radius: 5px;
    
}
.col-md-2{
    padding: 0px;
    background-color: hsl(0, 0%, 25%);
    min-height: 488px;
    box-shadow: 0px 0px 3px 0 hsl(0,0%,5%);
    margin:5px;
}
.col-sm-3{
    text-indent: 0px;
}
#header{
   box-shadow: 0px 3px 4px 0px hsl(0,0%,55%);
   margin-top: 0px;
   margin-bottom: 20px;
   padding: 5px;
   color: hsl(0, 0%, 95%);
   background-color: hsl(0, 0%, 25%);
}
.table{
    min-width: 79%;
    border: hidden;
    
}
.col-md-8{
    padding: 0px;
    min-width:79.94%;
    min-height: 488px;
    margin: 5px;
    box-shadow: 0px 0px 3px 0 hsl(0,0%,55%);
    background-color: hsl(0,0%,99%);
}
.sidenav {
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color:hsl(0,0%,95%);
    display: block;
    margin-left: 35px;
}
.sidenav a:hover {
    color: hsl(0,0%,55%);
    border-left: 2px solid #000;
    
}
.form-control:focus{
    border-color: hsl(0, 0%, 45%);
    box-shadow: 0px 0px 10px 0px hsl(0, 0%, 65%);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
a{
    color: black;
}
.contact-info li{
	
	margin:0 0 20px;
}
ul{
	list-style-type: none;
}
i{
	margin:0 0 20px;
}

.col-sm-6 i{
	margin-right:15px;
}
.col-sm-6{
	margin-top:30px;
	font-size:16px;
	
}
.w3-tangerine {
    font-family: "Allerta Stencil", Sans-serif;
}
.footer {
	background-color: hsl(0, 0%, 15%);
	color:hsl(0, 0%, 95%);
	text-align:center;
	margin:30px 0px 0px 0px;
	padding:10px;
	position: relative;
	
	 box-shadow: 0px 0px 3px 0 hsl(0,0%,55%);
}

body{
    font-family: Verdana,sans-serif;
    height: 100%;
    background-color: hsl(0, 0%, 98%);
    margin: 0;
}
p{
    font-size: 16px;
    margin: 20px;
    text-indent: 30px;
}
h1{
    margin: 20px;
}
@media screen and (max-width: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    input{
        width: 300px;
    }
}       
input{

    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 0px hsl(0, 0%, 45%);
    color:black;
    margin: 5px;
}
label{
    margin: 5px;
}
select{
    margin: 5px;
}
h3{
    margin:7px;
}
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #00ff80;
}
button:hover {
    opacity: 0.8;
}
span.psw {
    float: right;
    margin-left: 50px;
}
#a{
    margin:10px 0;
    color:white;
    padding:10px 0;

}
@media screen and (min-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }

}