{% extends 'user/master.html' %}
{% load staticfiles %}
{% block content %}

<aside class="left-sidebar">
     <div class="col-md-2">
                        <div class="sidenav">
                    </div> 
                        
               </div>
                 
 </aside>
                    <div class="col-md-8">
                        <h1>Welcome,</h1>
                        <h6>
                            Main aim to developing Sentiment analysis is to provide easy way to access
the important content of twitter. We are going to build a system which gives you a
best twitter account from lots of the account is available. We are create a system
which recommend the best twitter account. Also we are going to categories the
account in different part.
                        </h6>
                    </div>				
    {% endblock %}
